* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #eeeeee;
  overflow: hidden;
  font-family: "Arial";
}
body nav {
  width: 100%;
  max-width: 1920px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
body nav .nav1 {
  width: 100%;
  background-color: #b2b266;
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body nav .nav1 .logo {
  height: 45%;
  padding-left: 0px;
}
body nav .nav1 .logo:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
body nav .nav1 .titulo {
  font-size: 35px;
  color: #5c5c1b;
  font-weight: 400;
  text-align: center;
}
body nav .nav1 .optionsNav {
  font-size: 15px;
}
body nav .nav1 .optionsNav a {
  margin-left: 5px;
}
body nav .nav2 {
  width: 100%;
  background-color: #464646;
  height: 30px;
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
body nav .nav2 p {
  width: 100%;
  text-align: center;
}
body nav .nav2 a {
  text-decoration: none;
}
body nav .nav2 a:link {
  color: white;
}
body nav .nav2 a:visited {
  color: orange;
}
body nav .nav2 a:hover {
  color: gray;
  text-decoration: underline;
}
body nav .nav2 a:active {
  color: blue;
}
body .contenedor {
  width: 100%;
  max-width: 1920px;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
body .contenedor .izd {
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 6px;
  padding-top: 5px;
  background-color: #464646;
  overflow: scroll;
}
body .contenedor .izd::-webkit-scrollbar {
  display: none;
}
body .contenedor .izd .active {
  color: #ff8282 !important;
}
body .contenedor .izd .titulo {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: #ff9900;
  font-size: 16px;
}
body .contenedor .izd .separator {
  height: 10px;
  width: 92%;
  margin-top: 15px;
  margin-bottom: 0;
  border: 8px solid #b2b266;
}
body .contenedor .izd ul {
  list-style: none;
  padding-top: 15px;
  color: white;
}
body .contenedor .izd ul li {
  padding: 4px 4px 4px 10px;
  border: 1px solid #757474;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .contenedor .izd ul li a {
  color: white;
  font-size: 13px;
  text-decoration: none;
}
body .contenedor .izd ul li a:visited {
  color: white;
}
body .contenedor .izd ul li a:hover {
  color: #ff8282;
}
body .contenedor .izd ul li .codigo {
  width: 20px;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}
body .contenedor .izd ul li .codigo:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
body .contenedor .der {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
body .contenedor .der iframe {
  width: 100%;
  height: 90%;
  overflow: visible;
}

.active {
  color: #ff8282 !important;
}

/*# sourceMappingURL=estilos.css.map */
